force-app/main/default/flows/Assign_LAC_on_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>ID_or_shorthand</name>
        <label>ID or shorthand</label>
        <locationX>227</locationX>
        <locationY>29</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Shorthand_given</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Shorthand</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_LAC_by_shorthand</targetReference>
            </connector>
            <label>Shorthand given</label>
        </rules>
        <rules>
            <name>ID_given</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LACID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_LAC_Data</targetReference>
            </connector>
            <label>ID given</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Email_Opt_Out_True</name>
        <label>Is Email Opt Out True</label>
        <locationX>215</locationX>
        <locationY>494</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Opt_Out_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailOptOut</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_OptOut</targetReference>
            </connector>
            <label>Opt Out TRUE</label>
        </rules>
    </decisions>
    <interviewLabel>Assign LAC on Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign LAC on Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_LAC_by_shorthand</name>
        <label>Get LAC by shorthand</label>
        <locationX>379</locationX>
        <locationY>135</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_LAC_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Shorthand__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Shorthand</elementReference>
            </value>
        </filters>
        <object>LeadAttributeCombo__c</object>
        <outputAssignments>
            <assignToReference>LACID</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_LAC_Data</name>
        <label>Get LAC Data</label>
        <locationX>224</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LACID</elementReference>
            </value>
        </filters>
        <object>LeadAttributeCombo__c</object>
        <outputAssignments>
            <assignToReference>EmailOptOut</assignToReference>
            <field>Email_Opt_Out_Default__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LAC_Lookup</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>channel</assignToReference>
            <field>LeadChannel__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Medium</assignToReference>
            <field>LeadMedium__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Source</assignToReference>
            <field>LeadSource__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Shorthand</assignToReference>
            <field>Shorthand__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_Email_OptOut</name>
        <label>Set Email OptOut</label>
        <locationX>466</locationX>
        <locationY>403</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HasOptedOutOfEmail</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>225</locationX>
        <locationY>320</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LAC_ID__c</field>
            <value>
                <elementReference>LACID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LAC_Lookup__c</field>
            <value>
                <elementReference>LAC_Lookup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LAC_Shorthand__c</field>
            <value>
                <elementReference>Shorthand</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Channel__c</field>
            <value>
                <elementReference>channel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Medium__c</field>
            <value>
                <elementReference>Medium</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <startElementReference>ID_or_shorthand</startElementReference>
    <status>Active</status>
    <variables>
        <name>channel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>What is the E-Mail Opt Out default for the current LAC</description>
        <name>EmailOptOut</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LAC_Lookup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LACID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Medium</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Shorthand</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
