force-app/main/default/flows/Assign_Account_for_BigData_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Account</name>
        <label>Assign Account</label>
        <locationX>329</locationX>
        <locationY>226</locationY>
        <assignmentItems>
            <assignToReference>BigDataAlert.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MyObVenue.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_BigData_Alert</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Assign Account for BigData Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Account for BigData Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Venue</name>
        <label>Venue</label>
        <locationX>190</locationX>
        <locationY>124</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MyOrderbirdId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BigDataAlert.VenueText__c</elementReference>
            </value>
        </filters>
        <object>MyObVenue__c</object>
        <outputReference>MyObVenue</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_BigData_Alert</name>
        <label>Update BigData Alert</label>
        <locationX>470</locationX>
        <locationY>322</locationY>
        <inputReference>BigDataAlert</inputReference>
    </recordUpdates>
    <startElementReference>Venue</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BigDataAlert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BigDataAlert__c</objectType>
    </variables>
    <variables>
        <name>MyObVenue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MyObVenue__c</objectType>
    </variables>
</Flow>
