force-app/main/default/flows/Case_Process_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Set Process Trigger Text &amp; Date</description>
        <name>Set_trigger_info</name>
        <label>Set trigger info</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>$Record.Process_Trigger_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OnboardingReminderNew</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Process_Trigger_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Cases</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Case Process Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Process Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Cases</name>
        <label>Update Cases</label>
        <locationX>540</locationX>
        <locationY>50</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>55</locationY>
        <connector>
            <targetReference>Set_trigger_info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Age__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01258000000FAvxAAG</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Resmio Onboarding</stringValue>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Resmio Activation Only</stringValue>
            </value>
        </filters>
        <filters>
            <field>Age__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>22.0</numberValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2019-10-15</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
