force-app/main/default/flows/CDS_3073_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Lasted_Serial_number_is_on_OB_INV</name>
        <label>Lasted Serial number is on OB INV</label>
        <locationX>446</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>Set_Admin_Field_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>none_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice_Hardware_Item.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_HWF.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Admin_Field</targetReference>
            </connector>
            <label>none found</label>
        </rules>
        <rules>
            <name>only_hwf_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice_Hardware_Item.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_HWF.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Admin_Field_0_0_0</targetReference>
            </connector>
            <label>only hwf found</label>
        </rules>
        <rules>
            <name>HWF_newer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_HWF.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_HWF.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Invoice_Hardware_Item.CreatedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Admin_Field_0</targetReference>
            </connector>
            <label>HWF newer</label>
        </rules>
    </decisions>
    <description>Sets Admin flag fields</description>
    <interviewLabel>CDS-3073 Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CDS-3073 Test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_HWF</name>
        <label>Get HWF</label>
        <locationX>446</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lasted_Serial_number_is_on_OB_INV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SerialNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Serial_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HardwareFulfilment__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice_Hardware_Item</name>
        <label>Get Invoice Hardware Item</label>
        <locationX>446</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_HWF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SerialNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Serial_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice_Hardware_Item__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Admin_Field</name>
        <label>Set Admin Field</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Admin_flag_field__c</field>
            <value>
                <stringValue>none found</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Admin_Field_0</name>
        <label>Set Admin Field</label>
        <locationX>578</locationX>
        <locationY>636</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Admin_flag_field__c</field>
            <value>
                <stringValue>HWF newer</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Admin_Field_0_0</name>
        <label>Set Admin Field</label>
        <locationX>842</locationX>
        <locationY>636</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Admin_flag_field__c</field>
            <value>
                <elementReference>Get_Invoice_Hardware_Item.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Admin_Field_0_0_0</name>
        <label>Set Admin Field</label>
        <locationX>314</locationX>
        <locationY>636</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Admin_flag_field__c</field>
            <value>
                <stringValue>only HWF found</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Invoice_Hardware_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Target_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MINI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Serial_Number__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2021-02-24</startDate>
            <startTime>17:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
