force-app/main/default/flows/Connect_new_MINI_Invoice_to_Origin_Opp_Scheduled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Closed_Won</name>
        <label>Set Closed Won</label>
        <locationX>176</locationX>
        <locationY>1188</locationY>
        <assignmentItems>
            <assignToReference>Origin_Opp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Origin_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lookup_on_Invoice</name>
        <label>Set Lookup on Invoice</label>
        <locationX>176</locationX>
        <locationY>1068</locationY>
        <assignmentItems>
            <assignToReference>$Record.Origin_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Origin_Opp.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Closed_Won</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Opp_found_by_email</name>
        <label>Opp found by email?</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>Opportunity_by_email_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Origin_Opp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lookup_on_Invoice</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_found_by_email_0</name>
        <label>Opp found by email?</label>
        <locationX>308</locationX>
        <locationY>636</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Origin_Opp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lookup_on_Invoice</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <interviewLabel>Connect new MINI Invoice to Origin Opp Scheduled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Connect new MINI Invoice to Origin Opp Scheduled</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Opportunity_by_email</name>
        <label>Opportunity by email</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_found_by_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_Information__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Eligible_MINI_Sales_Opp__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_type_1__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>MINI registration</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Origin_Opp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Opportunity_by_email_0</name>
        <label>Opportunity by email</label>
        <locationX>308</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_found_by_email_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_Information__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Information__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.PostalCode__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Information__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Addressee__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Information__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Attention__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Eligible_MINI_Sales_Opp__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_type_1__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>MINI registration</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Origin_Opp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_MINI_Invoice</name>
        <label>Update MINI Invoice</label>
        <locationX>176</locationX>
        <locationY>1428</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Origin_Opp</name>
        <label>Update Origin Opp</label>
        <locationX>176</locationX>
        <locationY>1308</locationY>
        <connector>
            <targetReference>Update_MINI_Invoice</targetReference>
        </connector>
        <inputReference>Origin_Opp</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_by_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Age_MINI_INV__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Origin_Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OBInvoice__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-05-27</startDate>
            <startTime>05:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>ID of the new MINI Reg Account which needs to get connected to an Origin Opp</description>
        <name>New_Account_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Opportunity that has initiated this Account and needs to be placed in the lookup</description>
        <name>Origin_Opp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
