force-app/main/default/flows/Create_Upselling_Opportunity_from_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NotifyUpsellingOpp</name>
        <label>NotifyUpsellingOpp</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipentIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AddIDtoCollection</name>
        <label>AddIDtoCollection</label>
        <locationX>270</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>RecipentIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_OppOwner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_OppOwner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MINIOppOwnerID</name>
        <label>MINIOppOwnerID</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>OppOwnerID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DominikID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CustomNotification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PROOppOwnerId</name>
        <label>PROOppOwnerId</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>OppOwnerID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountManager</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CustomNotification</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>DominikID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00558000002Kw1zAAC</stringValue>
        </value>
    </constants>
    <constants>
        <name>Upselling</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Upselling</stringValue>
        </value>
    </constants>
    <decisions>
        <description>check if the Target Product is MINI or PRO</description>
        <name>PRO_or_MINI</name>
        <label>PRO or MINI</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunity_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MINI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Account.Target_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MINI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_0_0</targetReference>
            </connector>
            <label>MINI</label>
        </rules>
    </decisions>
    <description>Changes according CRMT-3184</description>
    <formulas>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!CaseNextStepDate})</expression>
    </formulas>
    <formulas>
        <name>NotificationBody</name>
        <dataType>String</dataType>
        <expression>&quot;The Opportunity come from this Upselling Case: &quot;&amp;{!CaseRecord.CaseNumber}</expression>
    </formulas>
    <formulas>
        <name>NotificationTitle</name>
        <dataType>String</dataType>
        <expression>&quot;There is a New Upselling Opportunity for &quot;&amp;{!CaseRecord.Account.Name}</expression>
    </formulas>
    <interviewLabel>Create Upselling Opportunity from Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Upselling Opportunity from Case</label>
    <loops>
        <name>Loop_through_OppOwner</name>
        <label>Loop through OppOwner</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <collectionReference>FindOppOwner</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddIDtoCollection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>NotifyUpsellingOpp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunity_0</name>
        <label>Create Opportunity</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignRecordIdToReference>OpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>PROOppOwnerId</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>CaseAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_from_Case__c</field>
            <value>
                <elementReference>CaseRecord.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_by_Case_Id__c</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LAC_Shorthand__c</field>
            <value>
                <stringValue>Hotline</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextStepDate__c</field>
            <value>
                <elementReference>CaseNextStepDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step_Comments__c</field>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step_PL__c</field>
            <value>
                <stringValue>Sales - Upselling</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OppCategory__c</field>
            <value>
                <stringValue>Account Management</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_type_1__c</field>
            <value>
                <elementReference>Upselling</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>AccountManager</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121t000000ENvzAAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Rep_Priority__c</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>CaseOpportunityStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtype__c</field>
            <value>
                <elementReference>CaseSubCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>upselling</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_0_0</name>
        <label>Create Opportunity</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignRecordIdToReference>OpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>MINIOppOwnerID</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>CaseAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_from_Case__c</field>
            <value>
                <elementReference>CaseRecord.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_by_Case_Id__c</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LAC_Shorthand__c</field>
            <value>
                <stringValue>Hotline</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextStepDate__c</field>
            <value>
                <elementReference>CaseNextStepDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step_Comments__c</field>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step_PL__c</field>
            <value>
                <stringValue>Sales - Upselling</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OppCategory__c</field>
            <value>
                <stringValue>MINI by orderbird</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_type_1__c</field>
            <value>
                <elementReference>Upselling</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>DominikID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01258000000QiNRAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Rep_Priority__c</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>CaseOpportunityStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtype__c</field>
            <value>
                <elementReference>CaseSubCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>upselling</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>CaseRecord</name>
        <label>Case Record</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Account_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CustomNotification</name>
        <label>CustomNotification</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FindOppOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OnlyDesktop</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>FindOppOwner</name>
        <label>FindOppOwner</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_OppOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppOwnerID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Account_Values</name>
        <label>Lookup Account Values</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PRO_or_MINI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountManager</assignToReference>
            <field>AccountManager__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CaseRecord</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNextStepDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseOpportunityStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseSubCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OppOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
