force-app/main/default/flows/Create_Case_for_Renewal_after_HL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>four_weeks_till_end_date</name>
        <label>4 weeks till end date?</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Hofmann_Leasing_End_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>four_weeks_from_now</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <description>Hofmann Leasing Renewal process https://jira.orderbird.com/browse/CRMT-3270</description>
    <formulas>
        <name>four_weeks_from_now</name>
        <dataType>Date</dataType>
        <expression>TODAY()+28</expression>
    </formulas>
    <interviewLabel>Create Case for Renewal after HL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Case for Renewal after HL</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <connector>
            <targetReference>remove_HL_date</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments</field>
            <value>
                <stringValue>Umzug auf jährliche Servicelizenz sowie monatliche Gerätelizenz wegen Leasingende von Hofmann Leasing. Vorher 3-Jahreslizenz oder Lifetime.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_Survey__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G58000003D1tw</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01258000000FAvsAAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Deine Hofmann Leasing Lizenz läuft aus</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>removes the Hofmann Leasing End Date from the Account</description>
        <name>remove_HL_date</name>
        <label>remove HL date</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <inputAssignments>
            <field>Hofmann_Leasing_End_Date__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>four_weeks_till_end_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Hofmann_Leasing_End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-08-17</startDate>
            <startTime>03:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
