force-app/main/default/flows/Delete_SPAM_Cases_after_90_days.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_black_spot_for_case</name>
        <label>Set black spot for case</label>
        <locationX>685</locationX>
        <locationY>190</locationY>
        <assignmentItems>
            <assignToReference>$Record.Black_Spot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_black_spot_for_junction</name>
        <label>Set black spot for junction</label>
        <locationX>473</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference>Potential_Solution_Junctions.Black_Spot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>junction</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>advances if a junction has been found</description>
        <name>junction_found</name>
        <label>junction found</label>
        <locationX>465</locationX>
        <locationY>259</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Potential_Solution_Junctions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_black_spot_for_junction</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>https://jira.orderbird.com/browse/CDS-2127</description>
    <interviewLabel>Delete SPAM Cases after 90 days {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete SPAM Cases after 90 days</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Case</name>
        <label>Delete Case</label>
        <locationX>686</locationX>
        <locationY>50</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Junctions</name>
        <label>Delete Junctions</label>
        <locationX>473</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Delete_Case</targetReference>
        </connector>
        <inputReference>Potential_Solution_Junctions</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Calls potential Solution Junctions, the Case might have</description>
        <name>Potential_Solution_Junctions</name>
        <label>Potential Solution Junctions</label>
        <locationX>274</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_black_spot_for_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseSolutionJunction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Case</name>
        <label>Case</label>
        <locationX>683</locationX>
        <locationY>357</locationY>
        <connector>
            <targetReference>junction_found</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>junction</name>
        <label>junction</label>
        <locationX>477</locationX>
        <locationY>540</locationY>
        <inputReference>Potential_Solution_Junctions</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Potential_Solution_Junctions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Age__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>90.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00G58000002i2Im</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2020-06-10</startDate>
            <startTime>15:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
