force-app/main/default/flows/Find_or_Create_Manually_assigned_Ambassador.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Lead_or_Opportunity</name>
        <label>Lead or Opportunity?</label>
        <locationX>577</locationX>
        <locationY>50</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RefferedRecordID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Ref_Cont_on_Opportunity</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RefferedRecordID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Ref_Cont_on_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Preexisting_Ambassador_found</name>
        <label>Preexisting Ambassador found?</label>
        <locationX>383</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pre_existing_Ambassador</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Make_Contact_an_Ambassador</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pre_existing_Ambassador</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_or_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Processes, manually set referral contacts, which aren&apos;t Ambassadors</description>
    <interviewLabel>Find or Create Manually assigned Ambassador {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Find or Create Manually assigned Ambassador</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Pre_existing_Ambassador</name>
        <label>Get Pre-existing Ambassador</label>
        <locationX>191</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Preexisting_Ambassador_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ambassador_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewAmbassadorID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Change_Ref_Cont_on_Lead</name>
        <label>Change Ref Cont on Lead</label>
        <locationX>584</locationX>
        <locationY>245</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RefferedRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ReferralContact__c</field>
            <value>
                <elementReference>Get_Pre_existing_Ambassador.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Change_Ref_Cont_on_Opportunity</name>
        <label>Change Ref Cont on Opportunity</label>
        <locationX>783</locationX>
        <locationY>50</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RefferedRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ReferralContact__c</field>
            <value>
                <elementReference>Get_Pre_existing_Ambassador.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Make_Contact_an_Ambassador</name>
        <label>Make Contact an Ambassador</label>
        <locationX>389</locationX>
        <locationY>245</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReferralContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ambassador_ID__c</field>
            <value>
                <elementReference>NewAmbassadorID</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Pre_existing_Ambassador</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>NewAmbassadorID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Manually assigned Contact</description>
        <name>ReferralContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID of the referred record (Lead or Opporuntity)</description>
        <name>RefferedRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
