force-app/main/default/flows/Mismatched_Invoices.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Alert</name>
        <label>Email Alert</label>
        <locationX>525</locationX>
        <locationY>52</locationY>
        <actionName>Invoice__c.Invoice_Issue</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopInvoice.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Invoice__c.Invoice_Issue</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Mismatched Invoices {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mismatched Invoices</label>
    <loops>
        <name>For_Each</name>
        <label>For Each</label>
        <locationX>335</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>LoopInvoice</assignNextValueToReference>
        <collectionReference>Get_Problem_Invoices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Email_Alert</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Problem_Invoices</name>
        <label>Get Problem Invoices</label>
        <locationX>190</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MismatchTotal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>MismatchTotal__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>51</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Problem_Invoices</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2019-12-06</startDate>
            <startTime>09:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>LoopInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
</Flow>
