force-app/main/default/flows/one_time_origin_opp_updater.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Closed_Won</name>
        <label>Set Closed Won</label>
        <locationX>1060</locationX>
        <locationY>54</locationY>
        <assignmentItems>
            <assignToReference>Origin_Opp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Origin_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lookup_on_Account</name>
        <label>Set Lookup on Account</label>
        <locationX>920</locationX>
        <locationY>49</locationY>
        <assignmentItems>
            <assignToReference>MINI_Reg_Account.Origin_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Origin_Opp.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Closed_Won</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Opp_found_by_contactinfo</name>
        <label>Opp found by contact info?</label>
        <locationX>901</locationX>
        <locationY>247</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Origin_Opp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lookup_on_Account</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_found_by_email</name>
        <label>Opp found by email?</label>
        <locationX>759</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Opportunity_by_Venue_ZIP_and_Full_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Origin_Opp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lookup_on_Account</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <interviewLabel>one time origin opp updater {!$Flow.CurrentDateTime}</interviewLabel>
    <label>one time origin opp updater</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>MINI_Reg_Account</name>
        <label>MINI Reg Account</label>
        <locationX>390</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reg_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Opportunity_by_email</name>
        <label>Opportunity by email</label>
        <locationX>638</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_found_by_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_Information__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Reg_Contact.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Eligible_MINI_Sales_Opp__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_type_1__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>MINI registration</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Origin_Opp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Opportunity_by_Venue_ZIP_and_Full_Name</name>
        <label>Opportunity by Venue, ZIP and Full Name</label>
        <locationX>773</locationX>
        <locationY>246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_found_by_contactinfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_Information__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>MINI_Reg_Account.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Information__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>MINI_Reg_Account.BillingPostalCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Information__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Reg_Contact.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Information__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Reg_Contact.LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Eligible_MINI_Sales_Opp__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Origin_Opp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Reg_Contact</name>
        <label>Reg Contact</label>
        <locationX>512</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_by_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MINI_Reg_Account.Primary_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Origin_Opp</name>
        <label>Update Origin Opp</label>
        <locationX>1217</locationX>
        <locationY>55</locationY>
        <connector>
            <targetReference>Update_Reg_Acc</targetReference>
        </connector>
        <inputReference>Origin_Opp</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reg_Acc</name>
        <label>Update Reg Acc</label>
        <locationX>1438</locationX>
        <locationY>54</locationY>
        <inputReference>MINI_Reg_Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>MINI_Reg_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Age_Acc__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>130.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Origin_Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Target_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MINI</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2020-08-12</startDate>
            <startTime>14:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>ID of the new MINI Reg Account which needs to get connected to an Origin Opp</description>
        <name>New_Account_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Opportunity that has initiated this Account and needs to be placed in the lookup</description>
        <name>Origin_Opp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
