force-app/main/default/flows/Retro_fill_MINI_HWFs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <description>Clean-up for CRMT-3073</description>
    <interviewLabel>Retro fill MINI HWFs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retro fill MINI HWFs</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create a new proper Hardware Fulfilment Record based of the found Invoice Hardware Fulfilment on the MINI Account</description>
        <name>Create_HWF_on_MINI_Account</name>
        <label>Create HWF on MINI Account</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ArticleName__c</field>
            <value>
                <elementReference>Get_Invoice_Hardware_Item.Article_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DateShipping__c</field>
            <value>
                <elementReference>Get_Invoice_Hardware_Item.Date_Shipping__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From_Invoice_Hardware_Item__c</field>
            <value>
                <elementReference>Get_Invoice_Hardware_Item.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InternalIDHW__c</field>
            <value>
                <elementReference>Get_Invoice_Hardware_Item.InternalIDHW__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InternalIDSalesOrder__c</field>
            <value>
                <elementReference>Get_Invoice_Hardware_Item.OB_Invoice__r.NetsuiteSOID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_ID__c</field>
            <value>
                <elementReference>Get_Invoice_Hardware_Item.Item_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Invoice_Hardware_Item.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetsuiteURL__c</field>
            <value>
                <elementReference>Get_Invoice_Hardware_Item.NetsuiteURL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SerialNumber__c</field>
            <value>
                <elementReference>Get_Invoice_Hardware_Item.SerialNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusShipping__c</field>
            <value>
                <elementReference>Get_Invoice_Hardware_Item.Status_Shipping__c</elementReference>
            </value>
        </inputAssignments>
        <object>HardwareFulfilment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Looks for Invoice Hardware Item with the same serial number as the Account</description>
        <name>Get_Invoice_Hardware_Item</name>
        <label>Get Invoice Hardware Item</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Related_OB_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Admin_flag_field__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice_Hardware_Item__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Sets the Lookup field on the MINI Account</description>
        <name>Set_Related_OB_Invoice</name>
        <label>Set Related OB Invoice</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <connector>
            <targetReference>Create_HWF_on_MINI_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Related_OB_Invoice__c</field>
            <value>
                <elementReference>Get_Invoice_Hardware_Item.OB_Invoice__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Invoice_Hardware_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Target_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MINI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Admin_flag_field__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>a0S5J</stringValue>
            </value>
        </filters>
        <filters>
            <field>Related_OB_Invoice__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2021-03-31</startDate>
            <startTime>17:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
