force-app/main/default/flows/Share_Generic_Leads.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Change_Product_Line</name>
        <label>Change Product Line</label>
        <locationX>866</locationX>
        <locationY>453</locationY>
        <assignmentItems>
            <assignToReference>$Record.Marketing_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PRO or MINI</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewProductLine</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountMINILeads</name>
        <label>CountMINILeads</label>
        <locationX>406</locationX>
        <locationY>478</locationY>
        <assignmentItems>
            <assignToReference>IntMINILead</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>MINILeadCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MINIAdCostCurrency</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountPROLeads</name>
        <label>CountPROLeads</label>
        <locationX>414</locationX>
        <locationY>336</locationY>
        <assignmentItems>
            <assignToReference>IntProLeads</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>PROLeadCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GenericMINILeads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MINIAdCostCurrency</name>
        <label>MINIAdCostCurrency</label>
        <locationX>548</locationX>
        <locationY>472</locationY>
        <assignmentItems>
            <assignToReference>MINIAdCostEUR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MINIAdCost</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PROAdCostCurrency</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PROAdCostCurrency</name>
        <label>PROAdCostCurrency</label>
        <locationX>547</locationX>
        <locationY>334</locationY>
        <assignmentItems>
            <assignToReference>PROAdCostEUR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PROAdCost</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GenPRORecord</targetReference>
        </connector>
    </assignments>
    <description>-Add changes from CRMT-3535</description>
    <formulas>
        <name>DatePlus0</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!$Record.Date__c})</expression>
    </formulas>
    <formulas>
        <name>DatePlus1</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!$Record.Date__c}+1)</expression>
    </formulas>
    <formulas>
        <name>MINIAdCost</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Ad_Cost__c}*({!IntMINILead}/({!IntProLeads}+{!IntMINILead}))</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>PROAdCost</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Ad_Cost__c}*({!IntProLeads}/({!IntMINILead}+{!IntProLeads}))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Share Generic Leads {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Share Generic Leads</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>GenMINIRecord</name>
        <label>GenMINIRecord</label>
        <locationX>736</locationX>
        <locationY>456</locationY>
        <connector>
            <targetReference>Change_Product_Line</targetReference>
        </connector>
        <inputAssignments>
            <field>Ad_Cost__c</field>
            <value>
                <elementReference>MINIAdCostEUR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>$Record.Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Channel__c</field>
            <value>
                <stringValue>SEA Generic - MINI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTMCampaign__c</field>
            <value>
                <stringValue>cDEU_kgCSR_prMIN</stringValue>
            </value>
        </inputAssignments>
        <object>CostLeadData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>GenPRORecord</name>
        <label>GenPRORecord</label>
        <locationX>736</locationX>
        <locationY>313</locationY>
        <connector>
            <targetReference>GenMINIRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>Ad_Cost__c</field>
            <value>
                <elementReference>PROAdCostEUR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>$Record.Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Channel__c</field>
            <value>
                <stringValue>SEA Generic - Generic Funnel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTMCampaign__c</field>
            <value>
                <stringValue>cDEU_kgCSR</stringValue>
            </value>
        </inputAssignments>
        <object>CostLeadData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GenericMINILeads</name>
        <label>GenericMINILeads</label>
        <locationX>226</locationX>
        <locationY>476</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountMINILeads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UTMCampaign__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>GenericLeads</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MINI</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>DatePlus0</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>DatePlus1</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>MINILeadCollection</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GenericProLeads</name>
        <label>GenericProLeads</label>
        <locationX>222</locationX>
        <locationY>341</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountPROLeads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UTMCampaign__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>GenericLeads</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PRO</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>DatePlus0</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>DatePlus1</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>PROLeadCollection</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>NewProductLine</name>
        <label>ChangeOriginRecord</label>
        <locationX>869</locationX>
        <locationY>329</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GenericProLeads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UTMCampaign__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>_prGen</stringValue>
            </value>
        </filters>
        <object>CostLeadData__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>GenericLeads</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>_prGen</stringValue>
        </value>
    </variables>
    <variables>
        <name>IntMINILead</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>IntProLeads</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>MINIAdCostEUR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>MINILeadCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>PROAdCostEUR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PROLeadCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
