force-app/main/default/flows/Trigger_Event_Expiration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Set Process Trigger Text &amp; Date</description>
        <name>Set_trigger_info</name>
        <label>Set trigger info</label>
        <locationX>196</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>$Record.Process_Trigger_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EventOverdue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Process_Trigger_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Event</targetReference>
        </connector>
    </assignments>
    <description>Sets trigger word for PB &quot;A - Event&quot; to initiate the expiration process from Task</description>
    <interviewLabel>Trigger Event Expiration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trigger Event Expiration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Event</name>
        <label>Update Event</label>
        <locationX>346</locationX>
        <locationY>50</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>67</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Set_trigger_info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActivityDate</field>
            <operator>GreaterThan</operator>
            <value>
                <dateValue>2019-08-07</dateValue>
            </value>
        </filters>
        <filters>
            <field>Days_overdue__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Outcome__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00558000001KczGAAS</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2019-10-15</startDate>
            <startTime>07:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
