force-app/main/default/flows/Trigger_Case_MINI_BB_Data_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Set Process Trigger Text &amp; Date</description>
        <name>Set_trigger_info</name>
        <label>Set trigger info</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>$Record.Process_Trigger_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reminder_MINI_BB_Data</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Process_Trigger_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Older_than_27_days</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Older_than_27_days</name>
        <label>Older than 27 days</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>Update_Cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Age__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>27.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_Solution_Junction</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>https://jira.orderbird.com/browse/CDS-2645 + CDS-3055 Update</description>
    <interviewLabel>Trigger Case MINI BB Data Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trigger Case MINI BB Data Reminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Connects Solution &quot;Cancellation of Your Card Payment Registration&quot; to Case</description>
        <name>Create_Case_Solution_Junction</name>
        <label>Create Case Solution Junction</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <connector>
            <targetReference>Update_Cases</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseSolution__c</field>
            <value>
                <stringValue>a021t00000F5mblAAB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseSolutionJunction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Cases</name>
        <label>Update Cases</label>
        <locationX>182</locationX>
        <locationY>732</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_trigger_info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Age__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01258000000VX2kAAG</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Waiting for Customer Reply</stringValue>
            </value>
        </filters>
        <filters>
            <field>Target_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MINI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pay_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Waiting for missing documents</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateTimeValue>2020-11-04T23:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2019-10-15</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
