force-app/main/default/flows/Trigger_Opportunity_Expiration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Set Process Trigger Text &amp; Date</description>
        <name>Set_trigger_info</name>
        <label>Set trigger info</label>
        <locationX>196</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>$Record.Process_Trigger_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NoFollowUps</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Process_Trigger_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
    </assignments>
    <description>Sets trigger word for PB &quot;A - Opportunity&quot; to initiate the expiration process</description>
    <interviewLabel>Trigger Opportunity Expiration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trigger Opportunity Expiration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>346</locationX>
        <locationY>50</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>67</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Set_trigger_info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Days_without_task__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Expiration_Determination_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateValue>2019-08-07</dateValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Open_Tasks__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00558000001KczGAAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_type_1__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>METRO Cockpit</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2019-10-15</startDate>
            <startTime>07:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
