force-app/main/default/flows/Update_Lead_first_succesful_Activity_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>CheckForEmptyDate</name>
        <label>CheckForEmptyDate</label>
        <locationX>234</locationX>
        <locationY>180</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadFirstacvitiyDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPDATE_LEAD</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <interviewLabel>Update Lead first succesful Activity Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Lead first succesful Activity Date</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>LookupLead</name>
        <label>LookupLead</label>
        <locationX>232</locationX>
        <locationY>80</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckForEmptyDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>LeadFirstacvitiyDate</assignToReference>
            <field>First_Successful_Activity_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_LEAD</name>
        <label>UPDATE LEAD</label>
        <locationX>235</locationX>
        <locationY>299</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>First_Successful_Activity_Date__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <startElementReference>LookupLead</startElementReference>
    <status>Active</status>
    <variables>
        <name>LeadFirstacvitiyDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
